<%= form_for(@twitt) do |f| %>
  <% if @twitt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitt.errors.count, "error") %> prohibited this twitt from being saved:</h2>

      <ul>
      <% @twitt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
